
<ion-header>
    <ion-toolbar>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <form action="">
        <div class="form-group">
            <input class="form-control" type="date">
        </div>
        
        <div class="form-group">
            <select class="form-control">
                <option value="pharma">pharma</option>
                <option value="ww">ww</option>
                <option value="ee">ee</option>
                <option value="rr">rr</option>
              </select>
        </div>
        
  
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="uid">UserId:</label>
            <input type="email" class="form-control" id="uid">
          </div>
  
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>

        <div class="form-group">
            <label for="cpwd">Confirm Password:</label>
            <input type="password" class="form-control" id="cpwd">
          </div>

          <div class="form-group">
              <label for="name">Name:</label>
              <input type="password" class="form-control" id="name">
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="password" class="form-control" id="name">
              </div>
  
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
          </label>
        </div>


        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </ion-content>
  